/* Janky as shit*/

@-webkit-keyframes jank {
  0% {tranform: translate-x(20px)}
  100 {transform: translate-x(-20px);}
}

.slick-active.slickImg{
  -webkit-animation: jank 1s;
}

body{
  background-color:white;
  color:white;
  z-index:-1;
  overflow-x:hidden;
}

nav{
  z-index:999000;
  position:fixed;
  top:0;
  left:0;
}

#copyright{
  text-align:center;
  font-size:14px;
  position:relative;
  bottom:10px;
  color:white;

}

footer{
  background-color:rgb(62,47,109);
  padding-top:14px;
}

/*HOME DIV*/

#home-div {
  left:0;
  right:0;
  height:100vh;
  background:url(http://www.nesta.org.uk/sites/default/files/mac-glasses.jpg);
  background-size:cover;
  /*font-family: 'Meddon', cursive;*/
  font-family: 'Princess Sofia', cursive;
  z-index:-1;
  text-align:center;
  padding-top:124px;
  background-color:white;
}

#name {
  margin:0 auto;
  font-size:80px;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
}

#occupation{
  font-size:45px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:200;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
  margin-top:45px;
}

.options{
  font-size:45px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:200;
  text-shadow:1px 2px 2px white;
  color:rgb(72,70,72);
}

.logo{
  height:80%;
  margin-top:6px;
  margin-left:15px;
}

.logo:hover{
  opacity:0.8;
}

nav {
  background-color:rgb(229, 89,87);
  opacity:0.9;
}

.links{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  font-size:20px;
}

.links:hover {

  background-color:rgb(114,191,182);
  height:63.5px;
  color:white;
  font-weight:400;

}

.mdi-hardware-keyboard-arrow-down{
  font-size:55px;
  color:rgb(62,47,109);
  border:1px solid white;
  border-radius:50%;
  padding-top:3px;
  margin-top:20px;
}

.mdi-hardware-keyboard-arrow-down:hover {
  color:rgb(62,47,109);
  border:1px solid rgb(62,47,109);
}

/*WORK-DIV*/


#work-div {
  left:0;
  right:0;
  height:100vh;
  background-color:white;
  z-index:-1;
  padding-top:105px;
  text-align:center;

}

#work-header {
  font-size:50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  color:rgb(62,47,109);
  margin-left:35px; 
  text-align:right;
  margin-right:35px;
  margin-bottom:20px;
  position:relative;
  top:-24px;

}

#monitor{
  width:100%;
  /*margin-right:6%;*/
  /*margin-left:12%;*/
  position:relative;
  /*bottom:310px;*/
  /*right:32px;*/
}

.screen-images{
  width:83.5%;
  position:relative;
  bottom:0.7%;
  /*right:0.25%;*/
}

#monitor-div {
  height:100vh;
}

#monitor-img-div{
  position:relative;
  bottom:48.5%;
  left:4%;
  width:90%;
}

.slickImg{
  width:100%;
  left:8.7%;
  position:relative;
  display:inline;
  top:1.4%;
}

div#work-selection.slider{
  right:1.25%;
}

#work-selection{

  position: absolute;
  width:94%;
  left:23.9%;
  margin-top:2.8%;
  overflow:auto;
  clear:both;
  content:' ';
  display:table;

}


.work-thumbnail{
  /*width:100%;*/
  width:220px !important;
  /*padding: 10px;*/
  position: relative;
  right: 250px;
  height: 120px !important;
  bottom:0;
  top:10px;
  margin-right:75px;

}

.work-thumbnail:hover{
  opacity:0.8;
  border:4px solid rgb(62,47,109);
  border-radius:5px;
  padding:4px;
  
}

.project-details{

  height:300px;
  color:rgb(72,70,72);
  font-weight:300;
  text-align:center;
}

#rex-details, #fstvl-details, #foodli-details, #wlg-details{
  text-align:left;
  width:95%;
  padding-left:50px;

}

.project-header{
  font-size:38px;
  font-weight:500;
  width:45%;
  margin-left:55%;
  margin-top:30px;

}

.detail{
  margin-left:55%;
  width:45%;
  font-size:20px;
}

.placeholder{

  height:166px;
}

.hidden{
  display:none;
}

.show{
  display:block;
}

.see-work{
  margin-bottom:20px;
  font-size:15px;
  margin-left:4.5%;
  margin-top:5px;
  font-weight:500;
  color:rgb(62,47,109);
  z-index:0;
}

/*RESUME DIV*/


#resume-div {
  left:0;
  right:0;
  height:100vh;
  background-color:purple;
  z-index:-1;
  padding-top:80px;


}




/*CONTACT DIV*/


#contact-div {
  left:0;
  right:0;
  height:100vh;
  background-color:rgb(62,47,109);
  z-index:-1;
  padding-top:150px;
  margin-bottom:0;

}

#headshot{
  width:64%;
  height:350px;
  border-radius:5px;
  margin-left:20%;
  margin-top:20px;
  border: 4px solid white;
  padding:6px;
  /*bottom:100px;*/
  position:relative;
  /*top:-500px;*/
}


#hi{
  font-size:50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  /*color:rgb(62,47,109);*/
  color:white;
  margin-left:0;
  margin-bottom:30px;
  position:relative;
}

#contact-details p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  color:white;
  font-size:20px;
  width:90%;

}

#skills{
  font-size:18px;
  border: 2px solid white;
  border-radius:5px;
  width:90%;
  padding:10px;
  margin-bottom:15px;
}

.icons{
  width:16.5%;

}



#icon-box{
  border:3px solid white;
  border-radius:5px;
  padding-left:20.10934px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  width:64%;
  margin-left:20%;
  margin-top:15px;

}

a.icon-link{
  font-size:18px;
}

span #mail-contact{
  font-size:18px;
}

.icon-link:hover{
  color:rgb(114,191,182);
}


#github{
  /*margin-left:5.4%;*/
  margin-right:6.8%;
}

#linkedin{

  margin-right:6.8%;
}

#facebook{

  margin-right:6.8%;
}

#mail-contact{
  /*margin-right:10.8%;*/
  margin-right:6.8%;
}


.resume-btn{

  height:25px;
  width:70px;
  font-size:16px;
  margin-top:0;
  padding-top:-20px;
  padding-left:5px;
  padding-right:5px;
  color:white;
  padding-bottom:35px;
}

.resume-btn:hover{
  /*background-color:white;*/
  background-color:rgb(114,191,182);
}

a.resume-btn{
  top:-3px;
}

.card{
  position:relative;
  height:60%;
}

#more-details{
  margin-bottom:20px;
}

#contact-details #main-details{
  font-size:24px;

}




