body {
  font-family: 'Bad Script', cursive;
  font-size: 40px;
}

.details {
  margin-top:200px;
  margin-left:35%;
  text-align:center;
}


#name {
  font-size: 45px;
  margin-bottom: 10px;
  color: rgba(65, 12, 133, 0.9);
}

#coming-soon {
  margin-top:40px;
}

/*flip*/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}


